<!DOCTYPE html>
<html>

<head>
    <title>Search Filter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <style>
        .container {
            float: left;
            padding-left: 20px
        }
    </style>
</head>

<body>
    <div ng-app="myApp" ng-controller='myCtrl'>

        

<span ng-repeat="movie in movies">
  <input type="checkbox"  id="{{movie.id}}"  ng-model="watched[$index]">
  <label for="{{ movie.id }}">{{ movie.title }} </label>
  <br>
</span>

        <br>
        <br>
        <section ng-repeat="movie in movies  ">
            <label ng-show=""> {{ movie.title }} </label>
        </section>


        <script>
            angular.module("myApp", [])
                .controller('myCtrl', function ($scope) {

                    $scope.movies = [
                        { id: 'm1' ,visible: 'yes', title: 'Lord of the Rings' },
                        { id: 'm2' ,visible: 'yes', title: 'Harry Potter' },
                        { id: 'm3' ,visible: 'yes', title: 'When Harry Met Sally' },
                        { id: 'm4' ,visible: 'yes', title: 'Before Sunrise, Before Sunset' },
                        { id: 'm5' ,visible: 'yes', title: 'Star Wars' }
                    ];

                });
        </script>
    </div>
</body>

</html>